body{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic', sans-serif;
    
    display: flex;
    flex-direction: column;

    height: 100vh;
}

/* top container */
.hero-container{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    justify-content: center;
    padding: 0 90px;

    gap: 70px;
    
}

.hero-container ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hero-container a{
    text-decoration: none;
    color: rgb(153, 155, 157);
    font-size: 18px;
}

.header{
    color: aliceblue;
    font-size: 24px;

    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.hero-links{
    display: flex;
    gap: 16px;

    flex-shrink: 0;
}

.hero-content{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;

    margin-bottom: 70px;
}

.hero-left-content{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 10px;

    height: 200px;
    width: 400px;
}

.hero-right-content{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    width: 400px;
}

.hero-content-title,.hero-content-text{
    color: aliceblue;
    margin: 0;
}

.hero-content-title{
    font-size: 38px;

}

.hero-right-content img{
    height: 200px;
    width: 400px;
}

.hero-button{
    background-color: #3b82f6;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium';
    border-radius: 5px;
    padding: 5px 25px;
    border: none;
    align-self: baseline;
}

/* top container edited and done */

.info-container{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.info-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.info-main-container{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.info-main{
    display: flex;
    flex-direction: column;
    width: 170px;
}

.info-main img{
    border: 3.5px solid #3b82f6;
    border-radius: 10px;
    height: 130px;
    width: 140px;
}

/* information container done */

.quote-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;

    padding: 60px;
    min-height: 200px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #414a56;   
}

.quote-author{
    display: flex;
    justify-content: flex-end;
}

/* quote section completed */

.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 60px;
    min-height: 100px;
}

.signup-section{
    background-color: #3b82f6;
    border-radius: 5px;
    display: flex;
    color: aliceblue;
    gap: 100px;
    padding: 20px 70px;
    flex-shrink: 0;
}

.signup-section-content{
    display: flex;
    flex-direction: column;
}

.signup-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-button button{
    color: aliceblue;
    background-color: inherit;
    border: 2px solid aliceblue;
    border-radius: 8px;
    padding: 4px 22px;
    font: inherit;
}

.signup-section-content-text{   
    color: #98b9ef;
    font-size: 14px;
}

/* signup-container done */

.footer{
    background-color: #1f2937;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
}